{% load static %}

<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <title>Kirish</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <h2>Ro'yxatdan o'tish</h2>
        <div class="messages {% if messages %}success{% endif %}">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        <form method="POST">
            {% csrf_token %}
            <label>Email:</label>
            <input type="email" name="email" required>
            <label>Telefon raqam:</label>
            <input type="text" name="phone_number" required>
            <label>Parol:</label>
            <input type="password" name="password" required>
            <label>Parolni tasdiqlash:</label>
            <input type="password" name="confirm_password" required>
            <button type="submit">Ro'yxatdan o'tish</button>
        </form>
        <p>Tizimga kirmoqchimisiz? <a href="{% url 'login' %}">Kirish</a></p>
    </div>
</body>

</html>